* {
    box-sizing: border-box;
}

#logo{
    height: 100%;
    vertical-align: middle;
}
#logo-container{
    height: 100px;
    line-height: 100px;
    background-color: white;
    margin-bottom: 30px;
}
#int{
    font-size: 40px;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: aliceblue;
}
#corpo-uno{
    margin-top: 30px;
    background-color: white;
    height: 50px;
    width: 80%;
    margin:30px auto;
    margin:0 auto;
    line-height: 50px;
    border-bottom: 1px solid aliceblue;
}
#add{
    border: 1px solid blue;
    vertical-align: middle;
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(35, 174, 255);
    cursor: pointer;
    font-family: helvetica, sans-serif;
    color: white;
}
#sec{
    border: 1px solid rgb(148, 148, 148);
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: helvetica, sans-serif;
    color: rgb(212, 212, 212);
    font-weight: bold;
}
#corpo-due{
    border-top: 1px solid aliceblue;
    background-color: white;
    width: 80%;
    margin:0 auto;
}
ul{
    list-style-image:"./img/list.png";
}

.spunta{
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 10px;
    margin-left: 40px ;
}
.testo{
    vertical-align: middle;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
}
h3{
    font-family:Helvetica, sans-serif;
    margin-left: 40px;
    margin-bottom: 2px;
}
.editorial{
    border: 1px solid rgb(35, 174, 255);
    border-radius: 10px;
    padding: 3px;
    background-color:rgb(35, 174, 255);
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.cross{
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 10px;
    margin-left: 40px ;
}
.goal{
    border: 1px solid rgb(174, 0, 180);
    border-radius: 10px;
    padding: 3px;
    background-color:rgb(174, 0, 180);
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.recruting{
    border: 1px solid rgb(0, 255, 191);
    border-radius: 10px;
    padding: 3px;
    background-color:rgb(0, 255, 191);
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.mobile{
    border: 1px solid rgb(255, 153, 0);
    border-radius: 10px;
    padding: 3px;
    background-color:rgb(255, 153, 0);
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.website{
    border: 1px solid rgb(255, 0, 140);
    border-radius: 10px;
    padding: 3px;
    background-color:rgb(255, 0, 140);
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.sales{
    border: 1px solid rgb(151, 255, 67);
    border-radius: 10px;
    padding: 3px;
    background-color:rgb(151, 255, 67);
    font-size: 10px;
    color: white;
    cursor: pointer;
}

