* {
    box-sizing: border-box;
}

#logo{
    height: 100%;
    vertical-align: middle;
}
#logo-container{
    height: 100px;
    line-height: 100px;
    background-color: white;
}
#int{
    font-size: 40px;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: aliceblue;
}
#corpo-uno{
    margin-top: 30px;
    background-color: white;
    height: 50px;
    width: 80%;
    margin:30px auto;
    line-height: 50px;
}
#add{
    border: 1px solid blue;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(35, 174, 255);
    cursor: pointer;
}
#sec{
    border: 1px solid rgb(148, 148, 148);
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
